@import 'flex-mixin';

.flex-parent {
    .flex-display(flex);
}

.flex-column {
    .flex-direction(column);
    height: 100%;
}

.flex-row {
    .flex-direction(row);
}

.flex-item {
   .flex(1);
}

.weight-2 {
    .flex(2);
}

.weight-4 {
    .flex(4);
}

body, html, .wrapper {
    height:100%;
    padding-top: 0px !important;
    margin: 0;
}

.right-row {
    background-color: rgba(64, 64, 64, 0.4);
}

.left-row {
    background-color: rgba(176, 223, 219, 0.4);
}

.top-row {
}

h1, h2, h3, h4, h5 {
    padding-left: 30px;
    float: left;
}

.custom-sprite {
    float: left;
    margin-top:23px;
}